<%- include('header'), {seoDetails,categorylist, pathPart} %>


  <div id="video-gallery" style="min-height: 80vh;">
    <!-- <p class="loading">Loading videos...</p> -->
  </div>


   
<%- include('footer'), { pathPart} %>